@page "/"

<PageTitle>SIGEBI</PageTitle>

<h1>Sistema de Gestión de Bibliotecas (SIGEBI)</h1>
<div class="d-flex gap-2 flex-wrap">
    <a class="btn btn-primary" href="catalogo">Ir al catálogo</a>
    <a class="btn btn-outline-primary" href="mis-prestamos">Ver mis préstamos</a>
</div>

